* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: center;
    padding: 20px 200px;
    background-color: #11ae55b2;
    align-items: center;
    gap: 25px;
}

nav ul {
    display: flex;
    justify-content:center;
gap: 30px;

}
nav ul a{
    text-decoration: none;
    font-size:23px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: all 0.3s  linear;
}
nav a:hover{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    color:#11ae558c ;
}
nav a:active{
    background-color: #fb0909e2;
    padding: 15px;
    border-radius: 5px;
    color:#ffffff8c ;
}
nav input{
    padding: 10px 20px;
    font-size: 26px;
    border: 1px solid rgb(255, 253, 253);
  border-radius: 5px;
caret-color: red;
}
nav input::placeholder{
color: #11ae558c;
}
section h1{
    text-align: center;
    padding:30px;
    color: #11ae55b2;
}
section{
    padding:0px 40px;
    text-align: justify;
    letter-spacing: 3px;
    word-spacing: 5px;
}
.linear{
    margin-top: 60px;
    font-size: 26px;
    width:800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, rgb(204, 29, 248), rgba(19, 75, 229, 0.653),rgba(131, 9, 161, 0.664));
    border-radius: 50%;
}
.radial{
    margin-top: 60px;
    font-size: 26px;
    width:800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: repeating-radial-gradient(rgb(36, 33, 33), rgb(255, 255, 255) 10%, rgb(78, 63, 63) 15%);
    border-radius: 50%; 
}
.radial h1{
    color: #000;
}
.linear h1{
    color: #f5e50e;
}
.shadows{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.shadow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 400px;
    /* background-color: aquamarine; */
    box-shadow:inset 0px 0px 5px 10px #11753a9f;
    border-radius: 10px;
    font-size: 25px;

}
.shadow h1{
    text-shadow: 2px 2px #43554e;g
}
